@import '../Abstract/mixin.scss';
.dashboard{
  width: 100%;
  height: 100%;
  display: block;
  

  .dashboardWrapper{
    display: flex;

    .sideBar{
      @include respond(phone) {
        display: none;
      }
    }

    .active{
      width: 100%;
      transition: all 1s ease;
    }

    .main{
      width: 100%;
      transition: all 1s ease;
    }

    .activeMain{
      display: none;
    }
  }
}