.tableContainer{
  overflow-x: auto;
  
  table {
    width: 100%;
    padding: 30px;
  
  
    thead th {
      height: 80px;
      text-align: left; 
      font-family: 'Work Sans';
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #545F7D;
      padding-right: 10px;
    }
  
    tbody td{
      height: 62px;
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      font-family: 'Work Sans';
      font-weight: 400;
      font-size: 14px;
      color: #545F7D;
    }        
  }
}



